{{#> layout currentPage='Home'}}
<main class="main-content">
  <!-- PROFILE CARD -->
  <div class="container">
   <div class="content">
    <div class="text-section">
     <h1>
      welcome to my website
     </h1>
     <p>
     I am a Fullstack Developer who has expertise in building web and mobile applications, both on the frontend and backend. With experience in various technologies, I am able to develop efficient and user-friendly digital solutions. I have good analytical skills and am able to work in a team to develop scalable and high-quality systems. I am also able to work under pressure and have good communication skills. I am a fast learner and always eager to learn new things.
     </p>
     <div class="buttons">
      <a href="https://wa.me/62872065914" class="contact">
       contact
      </a>
      <a class="download" href="/img/cv.pdf" download>
       download CV
       <i class="fas fa-download">

       </i>
      </a>
     </div>
     <div class="social-icons">
      <a href="https://www.linkedin.com/in/rizal-khudori-609ba9310?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank" >
       <i class="fab fa-linkedin" >
        <img src="/img/linkedin.png" alt="github.com/rizalkhudori" width="57" height="57" target="_blank" color="black">
       </i>
      </a>
      <a href="https://www.instagram.com/rizalkhudorii?igsh=MW14c3N6ZjR4a2dqbA==" target="_blank">
       <i class="icon" >
        <img src="/img/instagram.png" alt="https://www.instagram.com/rizalkhudori">
       </i>
      </a>
      <a href="https://www.facebook.com/share/v/18KdKLkszz/?mibextid=rS40aB7S9Ucbxw6v" target="_blank">
       <i class="fab fa-facebook" >
        <img src="/img/facebook.png" alt="https://www.facebook.com/rizalkhudori" target="_blank"> 
       </i>
      </a>
      <a href="https://twitter.com/rizalkhudori">
       <i class="fab fa-twitter" >
        <img src="/img/twitter.png" alt="https://twitter.com/rizalkhudori" target="_blank">
       </i>
      </a>
     </div>
    </div>
    <div class="image-section">
     <img alt="Portrait of Rizal khudori, Fullstack Developer" src="/img/profile-picture.jpg" width="100px">
     <div class="caption">
      <h2>
       Rizal khudori
      </h2>
      <p>
       Fullstack Developer
      </p>
     </div>
    </div>
   </div>
  </div>
    </div>
  </section>
{{/layout}}